.sticky {
  position: sticky;
  top: 0;
  z-index: 100; /* this is optional and should be different for every project */
}

.is-active-text {
  color: crimson;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 101;
}

@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Roboto:wght@300&family=Share+Tech?family=Nunito:wght@300&display=swap');